* {
  margin: 0;
  padding: 0;
}

.phone {
  padding-top: 70px;
  height: 750px;
  float: right;
  margin-top: -60px;
}

body {
  background-color: #fafafa !important;
}

.container {
  margin-top: 40px;
}

.right-column {
  background: #fff;
  border: 1px solid #e6e6e6;
  width: 375px;
  margin: 10px;
  padding: 20px;
  height: 580px;
}

.instagram-logo {
  margin: 10px auto;
  width: 220px;
  display: flex;
  justify-content: center;
}

.info {
  font-weight: 600;
  line-height: 20px;
  font-size: 19px;
  color: #999;
}

button img {
  height: 18px !important;
  padding: 0 8px 2px;
}

.or {
  margin-top: 20px;
  font-size: 13px !important;
  color: #999;
  font-weight: 600;
  text-align: center;
}

.or::before {
  content: "";
  background: #efefef;
  display: block;
  height: 2px;
  width: 110px;
  position: relative;
  top: 11px;
}

.or::after {
  content: "";
  background: #efefef;
  display: block;
  height: 2px;
  width: 110px;
  position: relative;
  bottom: 10px;
  left: 220px;
}

.form-group {
  margin-bottom: 6px !important;
  width: 80%;
  text-align: center;
  margin-left: 40px;
  height: 70%;
}

.form-control {
  background: #fafafa !important;
  border: 1px solid #efefef !important;
  font-size: 12px !important;
  margin-top: 5px;
  
}

::placeholder {
  color: #999 !important;
}

.btn {
  margin: 12px auto;
  padding: 2px !important;
  font-weight: 600 !important;
}

.btn-primary {
  background-color: #3897f0;
  border: 1px solid #3897f0 !important;
  width: 270px;
  margin-left: 40px;
}

.terms {
  line-height: 18px;
  font-size: 15px;
  color: #999;
  margin: 5px 20px;
}

.right-column-login {
  background: #fff;
  border: 1px solid #e6e6e6;
  width: 375px;
  margin: 10px;
  padding-top: 20px;
  
}

.right-column-login a:hover {
  text-decoration: none;
}

.get{
  margin-left: 140px;
}

.gp{
  margin-top: 20px;
  width: 130px;
  margin-left: 30px;
}

.app{
  margin-top: 20px;
  width: 130px;
  margin-left: 20px;
}
.bawah{
  margin-left: 20px;
}

.footer{
  width: 1500px;
  margin-top: 70px;
  margin-left: 250px;
  margin-bottom: 80px;
  font-size: 13px;
  color: blue;
  padding-top: 50px;
  padding-left: 50px;
}

.cr{
  color: #999;
  margin-right: auto;
  margin-left: 1100px;
  margin-top: -100px;
  
}